# Assumption: IDE=IntelliJ

# See https://gist.github.com/jhines2k7/ed657ecbbcd033d48e62

# See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# If Gradle,Maven is not used, life may be easier if we include .iml files
# *.iml

# Ignore user-specific .idea files:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Ignore Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Ignore IntelliJ build directory
/out/
/mods/

# Ignore project libraries
/frontend/lib/*
!/frontend/lib/readme.txt

/backend/lib/*
!/backend/lib/readme.txt

#ignore personal file
CommandToRun.txt