#remainingContainer, #buttonContainer {
    -fx-border-width: 0 5 0 0;
    -fx-border-color: transparent;
}

Label {
    -fx-font-size: 14;
}

HBox {
    -fx-padding: 0 5 0 5;
}

Icon:hover {
    -fx-background-color: cadetblue;
    -fx-border-color: transparent;
}

.taskContainer {
    -fx-padding: 5 0 5 0;
}

.IconBtn {
    -fx-padding: 0 2 0 2;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
