.root{ /*Controls the CSS for the background of the window */
    -fx-background-color: white;
}

.loginButton{ /*CSS for the login button*/
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#actiontarget { /*CSS for the splash text after you login*/
    -fx-fill: FIREBRICK;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}